extend layout
block question
	.question
		h2 #{question}

	.answers.row
		h2 Choose one

		.answer.col-xs-12.col-md-5.active
			span.number 1
			span Star Spangled Banner
		.col-md-2
		.answer.col-xs-12.col-md-5
			span.number 2
			span This little light of minw
		.answer.col-xs-12.col-md-5
			span.number 3
			span Special start
		.col-md-2
		.answer.col-xs-12.col-md-5
			span.number 4
			span Too many stars
