doctype html
html
  head
    title #{title} - Quiz 2014
    link(rel='stylesheet', href='/css/styles.css')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

  body
    header.header-presenter
      .row
        .category
          h2 Results

    .col-xs-12.col-sm-6.col-md-4
      .result
        .thumbnail.pull-left
          .results-question.col-xs-12 #1 this is an example question?
          .results-answer.col-xs-12 this is an example answer
          .col-xs-12 Team 1: This is team ones answer
            i.fa.fa-check.fa-lg.correct
          .col-xs-12 Team 2: This is team twos answer
            i.fa.fa-times.fa-lg.incorrect

    .col-xs-12.col-sm-6.col-md-4
      .result
        .thumbnail.pull-left
          .results-question.col-xs-12 #1 this is an example question?
          .results-answer.col-xs-12 this is an example answer this is an example answer this is an example answer
          .col-xs-12 Team 1: This is team ones answer
            i.fa.fa-check.fa-lg.correct
          .col-xs-12 Team 2: This is team twos answer
            i.fa.fa-times.fa-lg.incorrect

    .col-xs-12.col-sm-6.col-md-4
      .result
        .thumbnail.pull-left
          .results-question.col-xs-12 #1 this is an example question?
          .results-answer.col-xs-12 this is an example answer this is an example answer this is an example answer this is an example answer this is an example answer this is an example answer this is an example answer
          .col-xs-12 Team 1: This is team ones answer
            i.fa.fa-check.fa-lg.correct
          .col-xs-12 Team 2: This is team twos answer
            i.fa.fa-times.fa-lg.incorrect

    .col-xs-12.col-sm-6.col-md-4
      .result
        .thumbnail.pull-left
          .results-question.col-xs-12 #1 this is an example question?
          .results-answer.col-xs-12 this is an example answer
          .col-xs-12 Team 1: This is team ones answer
            i.fa.fa-check.fa-lg.correct
          .col-xs-12 Team 2: This is team twos answer
            i.fa.fa-times.fa-lg.incorrect

    .col-xs-12.col-sm-6.col-md-4
      .result
        .thumbnail.pull-left
          .results-question.col-xs-12 #1 this is an example question?
          .results-answer.col-xs-12 this is an example answer
          .col-xs-12 Team 1: This is team ones answer
            i.fa.fa-check.fa-lg.correct
          .col-xs-12 Team 2: This is team twos answer
            i.fa.fa-times.fa-lg.incorrect

    .col-xs-12.col-sm-6.col-md-4
      .result
        .thumbnail.pull-left
          .results-question.col-xs-12 #1 this is an example question?
          .results-answer.col-xs-12 this is an example answer
          .col-xs-12 Team 1: This is team ones answer
            i.fa.fa-check.fa-lg.correct
          .col-xs-12 Team 2: This is team twos answer
            i.fa.fa-times.fa-lg.incorrect

    .col-xs-12.col-sm-6.col-md-4
      .result
        .thumbnail.pull-left
          .results-question.col-xs-12 #1 this is an example question?
          .results-answer.col-xs-12 this is an example answer
          .col-xs-12 Team 1: This is team ones answer
            i.fa.fa-check.fa-lg.correct
          .col-xs-12 Team 2: This is team twos answer
            i.fa.fa-times.fa-lg.incorrect

    .col-xs-12.col-sm-6.col-md-4
      .result
        .thumbnail.pull-left
          .results-question.col-xs-12 #1 this is an example question?
          .results-answer.col-xs-12 this is an example answer
          .col-xs-12 Team 1: This is team ones answer
            i.fa.fa-check.fa-lg.correct
          .col-xs-12 Team 2: This is team twos answer
            i.fa.fa-times.fa-lg.incorrect

    script(src='/socket.io/socket.io.js')
    script(type='application/javascript' src='/js/quiz-2014.js')

