.progress-bar {
  background-color: @purple;
  padding: 10px 0;
}

.progress-bar-text {
  font-size: 2em;
}

.progress {
  height: auto;
}

.content {
  .team {
    font-size: 1.5em;
  }

  .team-name {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .centered{
    text-align: center;
  }
}
