.progress-bar {
  background-color: @purple;
}

.progress-bar-text {
  font-size: 2em;
}
.content {
  .team {
    width: 100px;
    font-size: 1.3em;
  }

  .team-name {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .centered{
    text-align: center;
  }
}
