.result {
  font-family: @font;
  margin: 10px;
}

.thumbnail {
  padding: 10px 5px;
}

.results-question {
  font-size: 1.4em;
  color: #777;
}

.results-answer {
  font-size: 1.6em;
  color: #555;
  border-bottom: 1px solid #ddd;
  margin: 5px 0px;
  padding-bottom: 5px;
}

.team-answer {
  font-size: 1.2em;
}

i.correct {
  color: @correct;
  margin-right: 7px;
  width: 23px;
}

.correct {
  color: @correct;
}

i.incorrect {
  color: @incorrect;
  margin-right: 7px;
  width: 23px;
}

.incorrect {
  color: @incorrect;
}

.back-color-white {
  background-color: #fff;
}
