/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Roboto:300,400");
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
body {
  background-color: #faf9f0;
  color: #444;
}
body .container {
  font-family: 'Roboto';
  font-weight: 300;
}
body .container .question {
  text-align: center;
  padding: 4em 2em;
}
body .container .question h2 {
  font-size: 3.7em;
}
body .container .answers {
  text-align: center;
  font-size: 1.7em;
}
body .container .answers .answer {
  font-weight: 400;
  padding: 0.5em 0.6em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px #eee;
  box-shadow: 0px 0px 10px 0px #eee;
  text-align: left;
  cursor: pointer;
}
body .container .answers .answer .number {
  background-color: #fff;
  color: #444;
  padding: 7px 13px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 30px;
  display: inline-block;
}
body .container .answers .answer:hover,
body .container .answers .active {
  background-color: #27ae60;
  color: #fff;
}
header {
  font-family: 'Roboto';
  color: #fff;
  font-size: 25px;
  font-weight: 300;
/*
	* Note the use of the `main-color`
	* variable and the `darken` function
	*/
  background-color: #27ae60;
  display: table;
  width: 100%;
}
header div {
  padding: 10px;
}
header .team {
  float: left;
}
header .questionNum {
  float: right;
}
header .category {
  text-align: center;
  margin-top: 2%;
  font-size: 1.5em;
}
@media screen and (max-width: 700px) {
  body .container .answers {
    font-size: 1.2em;
  }
  body .container .question h2 {
    font-size: 2em;
  }
}
